.App {
  background: rgb(88, 117, 245);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header {
  height:4rem;
  width:100%;
  border-bottom: 2px solid white;
  display:flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255,255,255,0.3);
}

.logo {
  height:3.5rem;
  width:3.5rem;
  background-image: url(https://upload.wikimedia.org/wikipedia/sco/thumb/d/d2/Pizza_Hut_logo.svg/2177px-Pizza_Hut_logo.svg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid white;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.footer {
  height:4rem;
  width:100%;
  border-bottom: 2px solid white;
  display:flex;
  align-items:center;
  padding: 0 1rem;
  background: rgba(255,255,255,0.3);
  position: relative;
}

.text-input {
  width: 100%;
  border:1px solid white;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: black;
  color: white;
}

.send{
  background: white;
  border-radius: 50%;
  border:none;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  right: 1.15rem;
  cursor: pointer;
}
